@use "sass:meta"
@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap')

// color vars
$title: white
$title-font: 'Ruluko', sans-serif

.background-img 
    background-color: black
    background-image: url('../assets/background.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: auto 110%
    height: 100vh
    width: 100%

.small-title
    font-size: 36px
    align-self: center
    font-family: #{meta.inspect($title-font)}
    margin-bottom: 0px
    letter-spacing: .3rem

.big-title
    font-size: 128px
    align-self: center
    margin-bottom: 0px
    font-weight: bolder
    letter-spacing: .3rem

.title
    display: flex
    flex-direction: column
    position: absolute
    color: $title
    font-family: #{meta.inspect($title-font)}
    text-align: center
    margin-top: 60px

.nav
    margin-top: 40px

.link
    text-decoration: none
    color: $title
    padding: 10px
    font-size: 20px
    transition: .2s

.link:hover
    font-size: 22px

.blur
    position: relative
    background: rgba(0, 0, 0, 0.5)
    backdrop-filter: blur(5px)
    height: 100%
    display: flex
    justify-content: center
    align-items: center

.highlightDisable
    user-select: none

.text
    opacity: 12%
    color: white
    font-size: 149px
    filter: blur(1px)
    writing-mode: vertical-rl
    text-orientation: upright

